.cafedataview-wrap {
  max-width: 1400px;
  margin: 40px auto;
  padding: 0 100px;
}
.cafedataview-search {
  margin: 40px 0;
}
.cafedataview-titlebox-address {
  font-size: 14px;
  margin-top: 15px;
  color: rgb(90, 90, 90);
}
.cafedataview-titlebox-line {
  width: 100%;
  height: 1px;
  border: 1px solid #eee;
  margin: 30px 0;
}
.cafedataview-intro {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}
.cafedataview-intro-main {
  flex: 1;
}
.cafedataview-intro-textbox {
  background-color: #e7e7e7;
  border-radius: 10px;
  padding: 35px 20px;
}
.cafedataview-intro-textbox-title {
  font-size: 18px;
}

.cafedataview-intro-textbox-content {
  margin-top: 15px;
  color: #555;
  font-size: 14px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.cafedataview-intro-link {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 20px;
  position: sticky;
  top: 30px;
  flex-shrink: 0;
  width: 350px;
  height: max-content;
}

.cafedataview-intro-link-linklist {
  margin-top: 40px;
}

.cafedataview-intro-link-linklist > li {
  margin: 20px 0;
  display: flex;
  gap: 10px;
  align-items: center;
}

.cafedataview-intro-link-linklist > li > p {
  color: #333;
  font-size: 14px;
}
.cafedataview-intro-link-linklist-url {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.cafedataview-intro-link-linklist > li > img {
  width: 25px;
  filter: invert(61%) sepia(7%) saturate(14%) hue-rotate(330deg) brightness(86%)
    contrast(91%);
}
.cafedataview-intro-link-button {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  gap: 30px;
}
.cafedataview-intro-link-button > button {
  font-size: 14px;
  padding: 10px 25px;
  border-radius: 10px;
}
.cafedataview-intro-link-button-review {
  border: 1px solid #875a40;
  color: #875a40;
}
.cafedataview-intro-link-button-report {
  color: white;
  background-color: #190e55;
}

@media (max-width: 990px) {
  .cafedataview-wrap {
    padding: 0;
  }
  .cafedataview-titlebox {
    padding: 0 10px;
  }
  .cafedataview-titlebox-title {
    font-size: 20px;
  }
  .cafedataview-titlebox-address {
    font-size: 12px;
  }
  .cafedataview-intro {
    display: block;
    padding: 0 10px;
    padding-bottom: 100px;
  }
  .cafedataview-intro-link {
    box-shadow: none;
    padding: 0;
    width: 100%;
  }
  .cafedataview-intro-link-button {
    display: block;
  }
  .cafedataview-intro-link-button > button {
    display: block;
    border-radius: 0;
    width: 100%;
    margin: 10px 0;
    font-size: 12px;
  }
  .cafedataview-intro-link-linklist > li > p {
    font-size: 12px;
  }
  .cafedataview-intro-link-linklist > li > img {
    width: 16px;
  }
  .cafedataview-intro-textbox-title {
    font-size: 16px;
  }
  .cafedataview-intro-textbox-content {
    font-size: 12px;
  }
}
