.cafedataview-wrap {
  max-width: 1400px;
  margin: 40px auto;
  padding: 0 100px;
}

.cafedataview-titlebox-title {
  font-size: 28px;
  color: #493021;
  margin-top: 30px;
}
.cafedataview-titlebox-address {
  font-size: 14px;
  margin-top: 15px;
  color: rgb(90, 90, 90);
}
.cafedataview-titlebox-line {
  width: 100%;
  height: 1px;
  border: 1px solid #eee;
  margin: 30px 0;
}
.cafedataview-intro {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}
.cafedataview-intro-textbox {
  background-color: #e7e7e7;
  border-radius: 10px;
  padding: 35px 20px;
}
.cafedataview-intro-textbox-title {
  font-size: 18px;
}

.cafedataview-intro-textbox-content {
  margin-top: 15px;
  color: #555;
}

.cafedataview-intro-link-linklist {
  margin-top: 40px;
}

.cafedataview-intro-link-linklist > li {
  margin: 20px 0;
  display: flex;
  gap: 10px;
  align-items: center;
}

.cafedataview-intro-link-linklist > li > p {
  color: #333;
  font-size: 16px;
}
.cafedataview-intro-link-linklist > li > img {
  width: 25px;
  filter: invert(61%) sepia(7%) saturate(14%) hue-rotate(330deg) brightness(86%)
    contrast(91%);
}
.cafedataview-intro-link-button {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  gap: 30px;
}
.cafedataview-intro-link-button > button {
  font-size: 14px;
  padding: 10px 25px;
  border-radius: 10px;
}
.cafedataview-intro-link-button-review {
  border: 1px solid #875a40;
  color: #875a40;
}
.cafedataview-intro-link-button-report {
  color: white;
  background-color: #190e55;
}
