.cafedataview-intro-imgbox {
  margin: 60px 0;
}
.cafedataview-intro-imgbox-title {
  font-size: 24px;
}

.cafedataview-intro-imgbox-imglist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  row-gap: 5px;
  column-gap: 5px;
  margin-top: 30px;
}

.cafedataview-intro-imgbox-imglist > li {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.cafedataview-intro-imgbox-imglist > li img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow-clip-margin: unset;
}
.cafedataview-intro-imgbox-more {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
  margin-top: 10px;
}

.cafedataview-intro-imgbox-more:hover {
  background-color: #ddd;
}
