.Header {
  border-bottom: 1px solid #eeeeee;
}
.header-wrap {
  display: flex;
  padding: 20px 80px;
  max-width: 1400px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  width: 180px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo > img {
  width: 100%;
}
.login-button > button {
  font-size: 14px;
}

@media (max-width: 990px) {
  .Header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
  }
  .header-logo {
    width: 150px;
  }
  .login-button > button {
    font-size: 12px;
  }
  .header-wrap {
    padding: 18px 40px;
  }
}
