.loginform-wrap {
  max-width: 1400px;
  margin: auto;
  padding: 0 80px;
  display: flex;
  align-items: center;
  height: 70vh;
  max-width: 700px;
  margin: auto;
}
.loginform-loginbox-title {
  color: #875a40;
  margin-bottom: 70px;
  font-size: 26px;
}
.loginform-loginbox-form-logininput {
  display: block;
  border: none;
  border-bottom: 1px solid #875a4070;
  padding: 10px;
  width: 500px;
  margin-top: 30px;
  outline: none;
  font-size: 18px;
  transition: 0.2s;
  color: #422e2e;
}

.loginform-loginbox-form-logininput:focus {
  border-bottom: 1px solid #875a40;
}
.loginform-loginbox-form-buttonbox {
  margin-top: 55px;
}
.loginform-loginbox-form-loginbtn {
  display: block;
  width: 350px;
  text-align: center;
  border: 1px solid #d6d6d6;
  padding: 20px;
  margin: 15px auto;
  color: #888;
  font-size: 14px;
  transition: 0.3s;
}
.loginform-loginbox-form-loginbtn:hover {
  color: #875a40;
  border: 1px solid #875a40;
}
.loginform-loginbox-form-findpassword {
  text-align: center;
  font-size: 12px;
  color: #888;
  margin-top: 30px;
  cursor: pointer;
}

@media (max-width: 990px) {
  .loginform-loginbox-form-logininput {
    width: 100%;
    font-size: 16px;
  }
  .loginform-loginbox {
    width: 100%;
  }
  .loginform-loginbox-title {
    font-size: 20px;
  }

  .loginform-loginbox-form-loginbtn {
    width: 80%;
    padding: 15px;
    font-size: 12px;
  }

  .loginform-loginbox-form-findpassword {
    font-size: 10px;
  }
}
