.RecommendList {
  margin: 50px 0;
}
.recommndlist-wrap {
  max-width: 1400px;
  margin: auto;
}
.recommndlist-listbox {
  padding: 0 80px;
}

.recommndlist-listbox-list {
  margin: 30px 0;
  display: grid;
  column-gap: 20px;
  row-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.recommndlist-listbox-list > li {
  box-shadow: 0 0 5px rgba(135, 90, 64, 0.4);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.recommndlist-listbox-list > li:hover .recommndlist-listbox-list-imgbox img {
  transform: scale(1.05);
}

.recommndlist-listbox-list-imgbox {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}
.recommndlist-listbox-reset {
  margin: 20px 0;
}
.recommndlist-listbox-list-imgbox img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow-clip-margin: unset;
  transition: 0.3s;
}

.recommndlist-listbox-list-contentbox {
  padding: 10px;
}
.recommndlist-listbox-list-contentbox-title {
  margin-top: 10px;
  font-size: 18px;
}
.recommndlist-listbox-list-contentbox-ratingbox {
  margin-top: 5px;
  display: flex;
  gap: 5px;
}

.recommndlist-listbox-list-contentbox-ratingbox-comment {
  font-size: 12px;
  display: flex;
  gap: 3px;
  margin-left: 10px;
}
.recommndlist-listbox-list-contentbox-ratingbox-rating {
  display: flex;
  gap: 3px;
}
.recommndlist-listbox-list-contentbox-ratingbox-rating img {
  width: 16px;
}
.recommndlist-listbox-list-contentbox-address {
  font-size: 14px;
  color: rgb(65, 65, 65);
  padding-top: 10px;
}
.recommndlist-listbox-list-contentbox-intro {
  font-size: 12px;
  color: rgb(110, 110, 110);
  padding: 25px 0;
  display: flex;
  align-items: center;
  height: 40px;
}

.recommendlist-page-pagebox {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.recommendlist-page-pagebox > li {
  border-radius: 5px;
  cursor: pointer;
}
.recommendlist-page-pagebox > li:hover {
  background-color: rgba(193, 246, 255, 0.5);
}

.recommendlist-page-pagebox > li.active {
  background-color: rgb(51, 51, 51);
  color: white;
}
.recommendlist-page-pagebox > li:not(.active):hover {
  background-color: rgba(193, 246, 255, 0.5);
}

.recommendlist-page-pagebox-pagenum {
  padding: 5px 12px;
  color: #999999;
}

.recommendlist-page-pagebox-move {
  padding: 5px 10px;
}

.recommendlist-page-pagebox-move img {
  width: 12px;
  height: 12px;
}
.recommndlist-listbox-empty {
  margin: auto;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 990px) {
  .recommndlist-listbox-title {
    font-size: 18px;
  }
  .recommndlist-listbox-list-contentbox-title {
    font-size: 16px;
    padding-bottom: 5px;
  }
  .recommndlist-listbox-list-contentbox-ratingbox-rating img {
    width: 14px;
  }
  .recommndlist-listbox-list-contentbox-ratingbox-score {
    font-size: 12px;
  }
  .recommndlist-listbox-list-contentbox-address {
    font-size: 12px;
  }
  .recommndlist-listbox-empty {
    font-size: 14px;
  }
}

@media (max-width: 680px) {
  .recommndlist-listbox {
    padding: 0;
  }
  .recommndlist-listbox-header {
    width: 82%;
    margin: auto;
  }
  .recommndlist-listbox-list {
    display: block;
    width: 82%;
    margin: 40px auto;
  }
  .recommndlist-listbox-list > li {
    margin: 30px 0;
  }
}
