.SearchSection {
  height: 80px;
}
.searchsection-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.searchsection-box-searchbox {
  position: relative;
  z-index: 100;
}
.searchsection-box-searchbox-inputbox {
  position: relative;
  z-index: 10;
}
.searchsection-box-searchbox-inputbox-input {
  width: 600px;
  padding: 14px 20px;
  border-radius: 15px;
  border: none;
  background-color: #875a4013;
  font-size: 14px;
  color: #444;
  display: block;
  position: relative;
}
.searchsection-box-searchbox-inputbox-input::placeholder {
  color: #bbbbbb;
}

.searchsection-box-searchbox-inputbox-input.focused {
  border-radius: 15px 15px 0 0;
  background-color: rgb(255, 255, 255);
  border: 2px solid #875a40;
  border-bottom: none;
  outline: none;
}
.searchsection-box-searchbox-inputbox-button {
  position: absolute;
  width: 18px;
  height: 18px;
  right: 20px;
  top: 50%;
  transform: translate(0%, -50%);
}
.searchsection-box-searchbox-autocomplite {
  background-color: white;
  border: 2px solid #875a40;
  position: absolute;
  width: 100%;
  top: 46px;
  border-top: none;
  border-radius: 0 0 15px 15px;
  padding: 15px;
}

.searchsection-box-searchbox-autocomplite-mysearch {
  border: 1px solid #ddd;
  cursor: pointer;
  width: 150px;
  padding: 10px 0;
  margin: 10px auto;
  text-align: center;
  color: #888;
  font-size: 14px;
}

.searchsection-box-searchbox-line {
  width: 90%;
  margin: 20px auto;
  height: 1px;
  background-color: #ddd;
}
.searchsection-box-searchbox-searchtitle {
  width: 90%;
  margin: 15px auto;
  font-size: 12px;
}
.searchsection-box-searchbox-autocomplite-filter {
  width: 90%;
  margin: auto;
  color: #666;
}
.searchsection-box-searchbox-autocomplite-filter > li {
  cursor: pointer;
  padding: 5px;
  margin: 5px 0;
  font-size: 14px;
}
.searchsection-box-searchbox-autocomplite-filter > li.no-result {
  cursor: default;
  color: #888;
}

.searchsection-box-searchbox-autocomplite-filter > li:not(.no-result):hover {
  background-color: #eee;
  cursor: pointer;
}
.searchsection-box-searchbox-autocomplite-filter-address {
  font-size: 12px;
}

.searchsection-box-searchbox-autocomplite-filter-name {
  font-size: 14px;
}

.signform-focus-wrap {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.signform-focus-wrap.active {
  display: block;
}
