.signform-wrap {
  max-width: 700px;
  padding: 0 80px;
  margin: auto;
}
.signform-form {
  margin-top: 50px;
}
.signform-form-title {
  color: #875a40;
}
.signform-form-box {
  margin: 50px 0;
}

.signform-form-box.none {
  display: none;
}
.signform-form-input {
  border: none;
  border-bottom: 1px solid #875a4070;
  padding: 10px 5px;
  width: 400px;
  outline: none;
  font-size: 16px;
  transition: 0.2s;
  color: #422e2e;
}

.signform-form-input:focus {
  border-bottom: 1px solid #875a40;
}
.signform-form-usernamebox-findcheckbox {
  display: flex;
  align-items: center;
  gap: 20px;
}
.signform-form-usernamebox-findcheckbox-button {
  border: 1px solid #875a40;
  color: #875a40;
  padding: 10px 12px;
  font-size: 12px;
  border-radius: 5px;
}
.signform-form-checkstatus {
  font-size: 12px;
  margin-top: 10px;
  display: none;
}
.signform-form-checkstatus.active {
  display: block;
}
.signform-form-submitbox-button {
  background-color: black;
  color: white;
  display: block;
  width: 250px;
  margin: 80px auto;
  padding: 20px 0;
  font-size: 14px;
  transition: 0.3s;
}

.signform-form-submitbox-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.signform-form-phonecheck-button {
  background-color: #83736a;
  padding: 10px 20px;
  color: white;
}
.signform-form-phonecheck-button.none {
  display: none;
}
.signform-form-box-phonecheckbox {
  display: flex;
  gap: 15px;
  align-items: center;
}
.signform-form-phoneinput {
  border: none;
  border-bottom: 1px solid #875a4070;
  padding: 10px 5px;
  width: 120px;
  outline: none;
  font-size: 16px;
}
.signform-form-box-phonecheck-validbox {
  display: flex;
  gap: 15px;
}

.signform-form-box-phonecheck-validbox > input {
  width: 250px;
}
.signform-form-box-phoneinputbox {
  display: flex;
  align-items: center;
  gap: 5px;
}

@media (max-width: 990px) {
  .signform-form-title {
    font-size: 20px;
  }
  .signform-form-input {
    width: 80%;
  }
  .signform-form-phoneinput {
    width: 100%;
  }

  .signform-form-usernamebox-findcheckbox-button {
    font-size: 10px;
  }
  .signform-form-box-phoneinputbox {
    width: 60%;
  }
  .signform-form-phonecheck-button {
    font-size: 10px;
    padding: 10px 15px;
    display: block;
    margin: 10px 0;
  }
  .signform-form-box-phonecheck-validbox {
    display: block;
  }

  .signform-form-box-phonecheck-validbox > input {
    width: 80%;
  }

  .signform-form-submitbox-button {
    width: 70%;
    font-size: 12px;
    padding: 15px 0;
  }
}
