* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Binggrae";
  src: url("./assets/Binggrae.woff2");
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #fff;
  font-family: "Binggrae";
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
body {
  font-size: 16px;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}
